<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta
      name='description'
      content='Buy all type of honda bikes and repair your bikes in lakhisarai at very fast service and low price.'
    />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />

    <link rel='icon' href='honda.png' />
    <link rel='apple-touch-icon' href='honda.png' />

    <link rel='stylesheet' href='css/style.css' />
    <script defer src='script.js'></script>
    <title>Balajee Honda</title>
  </head>

  <body>
    <header>
      <div>
        <a href='/'><span>HOME</span></a>
      </div>
      <div>
        <a href='/'><img
            class='header-img'
            src='./images/Balajee.png'
            alt='banner'
          /></a>
      </div>
      <div>
        <a href='/about'>About Us</a>
      </div>
    </header>

    <section class='slides'>
      <div><img class='slide-img' src='./images/1.jpg' alt='' /></div>
      <div><img class='slide-img hide' src='./images/2.jpg' alt='' /></div>
      <div><img class='slide-img hide' src='./images/3.jpg' alt='' /></div>
      <div><img class='slide-img hide' src='./images/4.jpg' alt='' /></div>
      <div><img class='slide-img hide' src='./images/5.jpg' alt='' /></div>
      <div><img class='slide-img hide' src='./images/6.jpg' alt='' /></div>

      <div class='left direction'>
        <ion-icon name='chevron-back-sharp'></ion-icon>
      </div>
      <div class='right direction'>
        <ion-icon name='chevron-forward-sharp'></ion-icon>
      </div>
    </section>

    <div class='pointer'>
      <button id='1' class='red'></button>
      <button id='2' class=''></button>
      <button id='3' class=''></button>
      <button id='4' class=''></button>
      <button id='5' class=''></button>
      <button id='6' class=''></button>
    </div>

    <section class='gallery'>
      <div class='one'>
        <img class='gallery-img' src='./images/one.png' alt='' />
      </div>
      <div class='two ov-hidden'>
        <img class='gallery-img scaling-img' src='./images/two.webp' alt='' />
      </div>
      <div class='three'>
        <img class='gallery-img' src='./images/three.png' alt='' />
      </div>
      <div class='four ov-hidden'>
        <img class='gallery-img scaling-img' src='./images/four.webp' alt='' />
      </div>
      <div class='five'>
        <img class='gallery-img' src='./images/five.png' alt='' />
      </div>
      <div class='six ov-hidden'>
        <img class='gallery-img scaling-img' src='./images/six.webp' alt='' />
      </div>
      <div class='seven'>
        <img class='gallery-img' src='./images/seven.png' alt='' />
      </div>
      <div class='eight ov-hidden'>
        <img class='gallery-img scaling-img' src='./images/eight.webp' alt='' />
      </div>
      <div class='nine'>
        <img class='gallery-img' src='./images/nine.png' alt='' />
      </div>
      <div class='ten ov-hidden'>
        <img class='gallery-img scaling-img' src='./images/ten.webp' alt='' />
      </div>
      <div class='eleven ov-hidden'>
        <img
          class='gallery-img scaling-img'
          src='./images/eleven.webp'
          alt=''
        />
      </div>
      <div class='twelve'>
        <img class='gallery-img' src='./images/twelve.png' alt='' />
      </div>
      <div class='thirteen ov-hidden'>
        <img
          class='gallery-img scaling-img'
          src='./images/thirteen.webp'
          alt=''
        />
      </div>
      <div class='fourteen ov-hidden'>
        <img
          class='gallery-img scaling-img'
          src='./images/fourteen.webp'
          alt=''
        />
      </div>
      <div class='fifteen'>
        <img class='gallery-img' src='./images/fifteen.png' alt='' />
      </div>
      <div class='sixteen'>
        <img class='gallery-img' src='./images/sixteen.png' alt='' />
      </div>
    </section>

    <footer>
      <p>
        <a href='/contact'>Contact Us</a>
      </p>
      <a
        href='https://www.google.com/maps/place/Balajee+Honda+Showroom+Lakhisarai/@25.1194237,86.0819844,15z/data=!4m2!3m1!1s0x0:0xc3f735936fceb471?sa=X&hl=en&ved=2ahUKEwiY-ZaG9cP-AhVgnmMGHQVkDpwQ_BJ6BAhWEAk'
      >Site on map<ion-icon name='location-sharp'></ion-icon></a>
    </footer>

    <script
      type='module'
      src='https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js'
    ></script>
    <script
      nomodule
      src='https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js'
    ></script>
  </body>
</html>